<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

    <script src="demo/wzwizard-0.0.6.js" type="text/javascript"></script>
    <link href="demo/wzwizard-0.0.6.css" rel="stylesheet" type="text/css"/>
    <script src="demo/sampleapp.js"></script>
    <link href="demo/sampleapp.css" rel="stylesheet" type="text/css">


    <a href="https://github.com/kekeh/wzwizard"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                         src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                                                         alt="Fork me on GitHub"
                                                         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>


    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>wzwizard by kekeh</title>
</head>

<body>
<header>
    <div class="inner">
        <h1>wzwizard</h1>

        <h2>Wizard - AngularJS reusable UI component</h2>
        <a href="https://github.com/kekeh/wzwizard" class="button">
            <small>View project on</small>
            GitHub</a>
    </div>
</header>

<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            <h3>
                <a id="description" class="anchor" href="#description" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>Description</h3>

            <p>Lightweight AngularJS wizard. </p>


            <div ng-app="sampleapp" ng-controller="samplectrl" style="margin-bottom:30px">
                <wzwizard options="opt">
                    <wzpage title="Name">
                        <label for="firstname">First name</label><br/>
                        <div class="inputCont"><input id="firstname" ng-model="values.firstname" placeholder="Type first name" type="text"></div>
                        <label for="lastname">Last name</label><br/>
                        <div class="inputCont"><input id="lastname" ng-model="values.lastname" placeholder="Type last name" type="text"></div>
                        <label for="gender">Gender</label><br/>
                        <select id="gender" ng-model="values.gender" ng-options="gender.value as gender.label for gender in [{label: 'Choose', value:''},{label: 'Male', value:'male'},{label: 'Female', value:'female'}]"></select><br/>
                    </wzpage>

                    <wzpage title="Address">
                        <label for="streetaddress">Street address</label><br/>
                        <div class="inputCont"><input id="streetaddress" ng-model="values.streetaddress" placeholder="Type street address" type="text"></div>
                        <label for="zip">Zip</label><br/>
                        <div class="inputCont"><input id="zip" ng-model="values.zip" placeholder="Type zip" type="text"></div>
                        <label for="city">City</label><br/>
                        <div class="inputCont"><input id="city" ng-model="values.city" placeholder="Type city" type="text"></div>
                    </wzpage>

                    <wzpage title="Email & Phone">
                        <label for="email">Email</label><br/>
                        <div class="inputCont"><input id="email" ng-model="values.email" placeholder="Type email" type="text"></div>
                        <label for="phone">Phone</label><br/>
                        <div class="inputCont"><input id="phone" ng-model="values.phone" placeholder="Type phone number" type="text"></div>
                    </wzpage>

                    <wzpage title="Confirmation">
                        <table>
                            <tbody>
                            <tr>
                                <td style="width: 40%;">First name</td>
                                <td style="width: 60%;">{{values.firstname}}</td>
                            </tr>
                            <tr>
                                <td>Last name</td>
                                <td>{{values.lastname}}</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{values.gender}}</td>
                            </tr>
                            <tr>
                                <td>Street address</td>
                                <td>{{values.streetaddress}}</td>
                            </tr>
                            <tr>
                                <td>Zip</td>
                                <td>{{values.zip}}</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>{{values.city}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{values.email}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{values.phone}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </wzpage>
                </wzwizard>
            </div>

            <p><a href="http://kekeh.github.io/index.html" target="_blank">Here</a> are my other AngularJS UI components.</p>


        </section>

        <aside id="sidebar">
            <a href="https://github.com/kekeh/wzwizard/zipball/master" class="button">
                <small>Download</small>
                .zip file
            </a>
            <a href="https://github.com/kekeh/wzwizard/tarball/master" class="button">
                <small>Download</small>
                .tar.gz file
            </a>

            <p class="repo-owner"><a href="https://github.com/kekeh/wzwizard"></a> is maintained by <a
                    href="https://github.com/kekeh">kekeh</a>.</p>

            <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme
                by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
    </div>
</div>


</body>
</html>
