body {
    margin: 20px 100px 20px 100px;
    min-width: 400px;
}

h3, h5 {
    background-color: #78FA89;
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

p {
    background-color: #FAFAFA;
    padding: 4px;
    border: 1px solid #AAA;
    border-radius: 3px;
    font-size: 14px;
}

.wzwizard input,
.wzwizard select {
    background-color: #F0FFF0 !important;
    margin-bottom: 14px;
    width: 100%;
    padding: 5px 0 5px 5px;
    border: 1px solid #AAA;
}

.wzwizard select {
    width: 100%;
    height: 27px;
}

.wzwizard .inputContainer {
    padding-right: 7px;
}

.wzwizard table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    color: #000;
    line-height: 1;
}

.wzwizard table th {
    background-color: #EEE;
    heigth: 30px;
}

.wzwizard table td {
    text-align: left;
}

.wzwizard table,
.wzwizard table th,
.wzwizard table td {
    padding: 5px;
}

.wzwizard label {
    color: #000;
}
