body {
    margin: 20px 100px 20px 100px;
    min-width: 400px;
}

h3, h5 {
    background-color: #78FA89;
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

p {
    background-color: #FAFAFA;
    padding: 4px;
    border: 1px solid #AAA;
    border-radius: 3px;
    font-size: 14px;
}

input {
    background-color: #F0FFF0 !important;
    margin-bottom: 14px;
    width: 99%;
    padding: 5px 0 5px 5px;
    border: 1px solid #AAA;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background-color: #EEE;
}

table, th, td {
    border: 1px solid #AAA;
    padding: 4px;
}


/*
@media screen and (max-width: 1100px) {
    body
    {
        margin: 20px 300px 20px 300px;
    }
}

@media screen and (max-width: 900px) {
    body
    {
        margin: 20px 200px 20px 200px;
    }
}

@media screen and (max-width: 700px) {
    body
    {
        margin: 20px 100px 20px 100px;
    }
}

@media screen and (max-width: 500px) {
    body
    {
        margin: 20px 10px 20px 10px;
    }
}
*/